.climatico {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: url("https://img.freepik.com/fotos-premium/fondo-degradado-borroso-abstracto-fondo-color-azul-azul-tiffany-plantilla-banner-telon-fondo-malla-colores-frios_335640-2171.jpg") center;
    background-size: cover;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .header-container {
    max-height: 200px; 
    overflow-y: auto; 
    flex-shrink: 0; 
  }
  
  .content {
    flex: 1; 
    overflow-y: auto; 
  }
  
  .navigation-back {
    width: 51px;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 40px;
  }
  