.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9c7b3;
    margin-top: 80px;
  }
  .inicio-sesion-login {
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-login {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #dc521b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    flex-wrap:center ;
  }
  
  .button-login:hover {
    background-color: #ffffff;
    color: rgb(180, 82, 6);
  }
  
  .button-register1{
    background-color: none;
  }