.Fondo-register{
  background-color: white;
}
.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 60px;
}

.crear-cuenta-register {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group-register {
  margin-bottom: 15px;
}

.form-group-register label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group-register input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error-message-register {
  color: red;
  margin-bottom: 15px;
}

.button-register {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffe100;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-register:hover {
  background-color: #000000;
  color:#ffe100 ;
}