.contact-box {
  display: flex;
  padding: 4rem;
  width: 100%;
}
.contact-sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 2em;
  align-items: center;
}

.contact-wrapper:nth-child(odd) {
  background-color: #f2f2f2;
}

.icon-container {
  display: flex;
  align-items: center;
}
.first-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-icon-container {
  display: flex;
  gap: 1rem;
}
.container-paginador {
  align-self: flex-end;
}

.info-container {
  display: flex;
  width: 90%;
}

.actions-contact {
  width: 6%;
}

span.email,
span.comment {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.email {
  width: 30%;
}

.comment {
  width: 70%;
}
