.contacts-container {
  display: flex;
  flex-direction: column;
  margin: 110px 0;
  width: 80%;
}
.contact-box{
  display: flex;
  flex-direction: row;
  height: 80vh;
  gap: 30px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 2.5em;
  align-items: center; 
  justify-content: flex-start;
  padding-left: 13px;
}

.contact-wrapper:nth-child(odd) {
  background-color: #f2f2f2;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #5c5c5c;
}
.first-row {
  display: flex;
  justify-content: space-between;
}

.title-icon-container {
  display: flex;
  gap: 2rem;
}

.container-paginador {
  align-self: flex-end;
}
.container-paginador  span{
  padding-right: 20px;
}
.paginador-icon{
  font-size: 20px;
  color: #5b5b5b;
  margin-right: 10px;
}

.info-container {
  display: flex;
  width: 86%;
}

.actions-contact {
  width: 5%;
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  font-size: 18px;
}
span .actions-contact {
  font-size: 20px;
}

span.email,
span.comment {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.email {
  width: 45%;
}

.comment {
  width: 100%;
}
.leido {
  color: gray;
}

@media (max-width: 1110px){
  .contact-sidebar{
    display: none;
  }
  .contacts-container{
    width: 100%;
  }
  .email {
    width: 40%;
  }
  
  .comment {
    width: 50%;
  }
  .info-container{
    margin-left: 1.5rem;
  }
}
@media (max-width: 700px){
  .email {
    width: 30%;
  }
  
  .comment {
    width: 50%;
  }
  .contacts-container{
    width: 90vw;
  }
  .contact-wrapper {
    display: flex;
    gap: 20px; 
  }
}