.contact-box {
  width: 100%;
  display: flex;
  padding: 5.5rem 2.5rem;
  /* gap: 10px; */
} 
.contact-sidebar {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-top: 60px; 
}
.contact-sidebar .boton-contacto{
  padding: 6px;
  width: 130px;
  border: none;
  text-align: justify;
  background-color: #fff;
}
.contact-sidebar .boton-contacto:hover{
  font-weight: 600;
  background-color: #ebebeb;
}
  