/* Portada */
@media only screen and (max-width: 700px) {
  .body{
    width: 100%;
  }
}

@media (max-width: 850px){
main{
  height: 100vh;
  width: 100vw;
  padding: 20px;
  background-size: cover;
}
}
.home-Principal{
  background-image: url("https://lh3.googleusercontent.com/u/0/d/1VvNTNUwphxPQz5EKcpu0x9rYtN5KjUZZ=w1848-h858-iv1");
  position: relative;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  overflow: hidden;
}
.home-Principal.div {
  width: 100%;
  position: relative;
}

.home-Principal .info-home {
  position: relative;
  width: 100%;
}

.home-Principal .home-image {
  width: 100%;
  height: 406px;
  object-fit: cover;
}

.home-Principal .text-wrapper-home {
  position: absolute;
  width: 624px;
  top: 110px;
  left: 192px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-Principal .text-wrapper-2-home {
  position: absolute;
  width: 683px;
  top: 180px;
  left: 241px;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #fbd914;
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
}


/* */
.Home{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    padding:20px;
  }

/*Párrafo abajo foto*/

.todosaber-home {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: flex-start;
}

.home-encontrar {
  padding: 20px; 
  font-family: "Montserrat-ExtraBold", Helvetica;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
}

.parrafo-todosaber-home {
  font-size: 30px;
  font-family: "Montserrat-Extrabold", Helvetica;
  margin-bottom: 10px;
  font-weight: 800;
}

.parrafo-todosaber-home1 {
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-size: 15px;
  margin-bottom: 20px;
}

.content-imagen-home img {
  width: 100%; 
  height: 500px;
  object-fit: cover;
  object-position: right;
}

.content-imagen-home {
  width: 50%;
  border-radius: 50px;
}

.boton-Home {
  margin-top: 20px;
}

.boton-home-productos {
  font-size: 20px;
  font-weight: 800;
  color: #000000; 
  width: 300px;
  height: 55px;
  margin: 0 100px;
  font-family: "Montserrat-ExtraBold", Helvetica;
  background-color: #f2ce04;
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 50px; 
  border: none;
}

.boton-home-productos .click {
  color: inherit; 
  text-decoration: none;
}

.boton-home-productos:hover {
  background-color: black;
  color: #ffffff;
}

/* H1 Inspirate*/
.inspirate-home{
  width: 700px;
  top: 180px;
  left: 241px;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #f2ce04;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}
/* 6 */
.container-xxl-home {
  padding: 20px;
  margin-top: 10px;
}

.images-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
}

.imagenes-home {
  overflow: hidden;
  width: 300px; 
  height: 400px; 
  margin: 0 auto;
  border-radius: 40px;
}

.imagenes-home img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s ease; 
}

.imagenes-home img:hover {
  transform: scale(1.05);
}
/*MISION*/

.mision {
  width: 100%; 
  overflow: hidden; 
}

.image-home-mision {
  width: 100%; 
  height: auto; 
  display: block; 
}
/*texto mision*/
.mision-home {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: flex-start;
}

.mision-home-content {
  padding: 20px; 
  font-family: "Montserrat-ExtraBold", Helvetica;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
}

.Info-Home-Mision {
  font-size: 30px;
  font-family: "Montserrat-Extrabold", Helvetica;
  margin-bottom: 10px;
  font-weight: 800;
  color:#f2ce04
}

.mision-info-home {
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 400;
}

.content-imagen-home-mision img {
  width: 100%; 
  height: 500px;
  object-fit: cover;
  object-position: right;
}

.content-imagen-home-mision {
  width: 50%;
}

/* h3 Parrafo-imagenes-home-abajo */
.Parrafo-imagenes-home-abajo{
  padding: 20px; 
  font-family: "Montserrat-ExtraBold", Helvetica;
  display:flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 30px;
  font-family: "Montserrat-Extrabold", Helvetica;
  margin-bottom: 10px;
  font-weight: 800;
  background-color: #f2ce04;
}

/*4 imagenes */
.container-home-xxl-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 100px;
}

.images-home-2 {
  display: grid;
  grid-template-columns: repeat(2fr, 1fr);
  gap: none; 
  width: 100%;
}

.image-home-2 img {
  width: 100%;
  height: auto;
  display: block;
}

.image-home-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Calculadora */
.boton-calculadora-home{
  position: relative;
  margin-top: -4%;
  width: 100%;
}

.text-container-home1 {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
}

.calculator-home {
  padding: 20px; 
  font-family: "Montserrat-ExtraBold", Helvetica;
  display:flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 30px;
  font-family: "Montserrat-Extrabold", Helvetica;
  margin-bottom: 10px;
  font-weight: 800;
}

.button-2-home {
  padding: 10px 20px; 
  font-size: 30px; 
  color: rgb(255, 255, 255); 
  background-color:#000000; ;  
  border-radius: 5px; 
  cursor: pointer; 
  margin-top: 15px;
  object-fit: contain;
  text-decoration: none;
  font-family: "Montserrat-ExtraBold", Helvetica;
  display:flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: 800;
}
.button-2-home .click {
  color: inherit; 
  text-decoration: none;
}

.button-2-home:hover {
  background-color: #f2ce04; 
  color:  rgb(0, 0, 0);
}

