.productos {
  background-image: url("https://lh3.googleusercontent.com/fife/ALs6j_G7Ndzll_aU1HIQRuZoACLifidEBc-7l3x8DreTi1yMmvGg9IRtk0K0GUZ3Z0bfXo_xx9z08IfSxhiWGBspeiHpDIZTg5fQXWrQ8Qk93k_KXRmX1asctUlEbmB972cpz0qXzwcSk35KOWoLfpSoRGzRgHuZog8kEgeyBiEk9kMI_jn6m_1EhluyY6QTiWV7ngdpu7NR5iRJjH9NW-CnN5F1y5y0ZaexmiXxAY-frvt0MwS4ywDk52DaDXyMUUFt1UZVQSmPJvVhKekSGptzDqxT7H2K2YDuFtaJte9Ej7PMb5uNRaltqjDJUcq63BtDvUX1vYUDp-fOPln9eOgFTdMAxKrVbKk25xYz9wy2G9JGf3E4BevJ-PUY6AvvxMIEhgSByCp_8hoSHiMsuvHDJooq1K9b0hrGi49heknflwgPpZhXQ1bxoNLG1bScQ-LCMR2vTlkbSt5q0xD5qWjd42h9cwzMrKGr1HaIFd8FAvrmP-pFN-APXEXHtrV4jNBeFig74r230Alj8bX56wJxnGOuacUDhfeIvsyoNanIYbvEeww8tAUi_AF5ZDF9LgrCbTBp76tEcpD9H1fD0bQYUhkOprYNJOLuKD09NGtY4S5LGnmN4oQv35NwmcuCT0wudqQvPYWAAl9abOYn7JHJx1Lk3HqGRgHmNX5H9Ee2gVayOm0XcGqpxUb6E0EP1flkdgSEkLXbTnc6uX8T9NIE5J5Lav7sMzMb2JtiG4tkxFzGdoThmB_VI1WwTNd5_iG-KpL5pxSDZBN_xlFGfj2cbAC9UYQiDZiPy4g6kRjdSMdGnImPNhY4S53_E_QhFcfO86dEr8xl8QRcFuwqOBGX4xGWF86wiw0Acg2tBHw1FA-K5JFn8h6PZ8Yp6VnEUXG75X25_ujU-d6umWSLfnU8Twcebu1AmodmTFjcFO-Rcwr_nRqw7-ON3oC0jonKNKedbCoycINA2Xd4Dz1xwmUoipBuUaro8FPdmtdumlBWRBG9KqOifua10xxYOcvhkIjG4jflmOhDIwdFVr3MqPxXzcDRcdcDmzajmMHPPiXxanmlEuakpFN2cxWkY5x0_asQHD5WuG_iXJ8w1UAhweDkVF2pzlY4RJkYheQFI_MWrYWbVN16b0MMdqMJIbodkOTkbU9EJX3tn7d11AVKhOUhrUEVHMCdAL3v_RTCecFlbCrben9I5WRHUvtrdcGioXxBLGwNnqmrSb7B-ewPYjc3l6A1JUhyIK1LckuMHNLaxR4r6WD2lOCP2wL_OcZUrVXeDjc9FRcHgJbYBYK7pHUEr-fIuq9_KXIxS-uwq26fjzh1IE_kxM1N8QYK7Dn-ID2WvVWQgY2IeaXJCFG2mJaJ5OkjleLZQ0Gc-qu1VZWKh7NvnBWH2u53RW2K3Qj07Oy0oPSHrG-t7qPhlM36bTe2pi7xEFAEii9jNkdQN7D1kuCrlT-31BKWlE_b9Y1aCNM-sXftVgYh2707WQtz5sZW9_CaJHlrHnjsziS3ec7AyaVtD-exAC8s48aGKp0bCN5CAmDxZaW80L9-VikIMou4OGfE_RKAbS76GevM4S-I2LJ_lTvAZ3aVCHM-JNN9Z-xNaDBvX9jAxAwHqS4arw2bsEn4VrSkttZ6eZ1Ll4b4yoM9BCxO43bra9uqwDwCCRgJOSspJwL6Dzt_xWlkkgXB1hqJy0oLcA=w2000-h1288");
  position: relative;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.productos .div {
  width: 100%;
  position: relative;
}

.productos .overlap {
  position: relative;
  width: 100%;
}

.productos .image {
  width: 100%;
  height: 406px;
  object-fit: cover;
}

.productos .text-wrapper {
  position: absolute;
  width: 624px;
  top: 110px;
  left: 192px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.productos .text-wrapper-2 {
  position: absolute;
  width: 683px;
  top: 180px;
  left: 241px;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #fbd914;
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
}

.productos .group {
  position: absolute;
  width: 100%;
  height: 175px;
  top: 0;
  left: 0px;
  box-shadow: 0px 4px 4px #00000040;
}

.productos .overlap-group {
  position: absolute;
  width: 100%;
  height: 62px;
  top: 113px;
  left: 0;
  background-color: #0000004c;
}

.productos .overlap-5 {
  position: relative;
  width: 100%;
  height: 356px;
  margin-top: 0px;
  left: 0;
  background-color: #e2e2e2;
  padding-top: 50px;
}

.productos .text-wrapper-10 {
  position: absolute;
  width: 247px;
  top: 135px;
  left: 13px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 33px;
  letter-spacing: 0;
  line-height: 38.6px;
}

.productos .frame {
  position: absolute;
  width: 1140px;
  height: 303px;
  top: 26px;
  left: 289px;
  overflow: hidden;
  overflow-x: scroll;
}

.productos .frame-2 {
  position: absolute;
  width: 232px;
  height: 294px;
  top: 5px;
  left: 0;
}

.productos .text-wrapper-11 a {
  position: absolute;
  width: 125px;
  top: 263px;
  left: 54px;
  text-shadow: 0px 4px 4px #00000040;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.productos .img {
  position: absolute;
  width: 232px;
  height: 253px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.productos .frame-3 {
  position: absolute;
  width: 232px;
  height: 303px;
  top: 0;
  left: 275px;
}

.productos .text-wrapper-12 a {
  position: absolute;
  width: 98px;
  top: 267px;
  left: 67px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.productos .img-2 {
  position: absolute;
  width: 232px;
  height: 253px;
  top: 6px;
  left: 0;
  object-fit: cover;
}

.productos .frame-4 {
  position: absolute;
  width: 232px;
  height: 299px;
  top: 2px;
  left: 825px;
}

.productos .text-wrapper-13 a {
  position: absolute;
  width: 152px;
  top: 262px;
  left: 40px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.productos .unsplash {
  position: absolute;
  width: 232px;
  height: 253px;
  top: 4px;
  left: 0;
  object-fit: cover;
}

.productos .frame-5 {
  position: absolute;
  width: 232px;
  height: 303px;
  top: 0;
  left: 550px;
}

.productos .text-wrapper-14 a {
  position: absolute;
  width: 152px;
  top: 265px;
  left: 40px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.productos .frame-6 {
  position: absolute;
  width: 247px;
  height: 294px;
  top: 5px;
  left: 1100px;
}

.productos .text-wrapper-15 a {
  position: absolute;
  width: 224px;
  top: 260px;
  left: 12px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.productos .frame-7 {
  position: absolute;
  width: 232px;
  height: 303px;
  top: 0;
  left: 1390px;
}

.productos .text-wrapper-16 a {
  position: absolute;
  width: 152px;
  top: 265px;
  left: 34px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.productos .unsplash-mtnnifryy {
  position: absolute;
  width: 232px;
  height: 253px;
  top: 7px;
  left: 1px;
  object-fit: cover;
}

.productos .frame-8 {
  position: absolute;
  width: 232px;
  height: 299px;
  top: 2px;
  left: 1665px;
}

.productos .text-wrapper-17 a {
  position: absolute;
  width: 206px;
  top: 264px;
  left: 13px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.productos .unsplash-ihwpsjwomc {
  position: absolute;
  width: 232px;
  height: 253px;
  top: 5px;
  left: 0;
  object-fit: cover;
}