/* Main */
.img{
  background-image: url("https://images.unsplash.com/photo-1602262442764-c14f8db98045?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");   
  width: 100vw;
  height: 100vh; 
  background-size: 100%;
  background-repeat: no-repeat;
  /* display: flex; */
}

.container-xl {
  width: 100vw;
  height: 100%;
  margin-left: 30px;
  margin-top: 30px;
}

.Conoces-la-diferencia {
  font-size: 40px;
  color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
  white-space: nowrap;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .Conoces-la-diferencia {
    flex-direction: column;
    width: 100%;
  }
}
.text-style-1 {
  color: #fbd914;
  display: flex;
  
  margin-left: 10px;
}

.container-basura {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-basura {
  width: calc(100% - 50px);
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.basura {
  flex-direction: row; /* Imagen a la derecha */
}

.title-1{
  
  font-size: 30px;
  color: #000000;
  margin-right: 10px;
  font-weight: bold;
}
.image-1 {
  width: 30%; /* Ajustar el tamaño de la imagen según sea necesario */
  height: auto;
  object-fit: cover;
  border-radius: 5%;
}

.content-1 {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column; /* Para que el contenido ocupe el espacio restante */
}

.title-card {
  margin-bottom: 10px;
  color: #000000;
  margin-right: 10px;
  font-weight: bold;
}

.text-card {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.6;
  justify-content: center;
}
.label-title {
  font-weight: bold;
  text-align: center;
  
  font-size:1.5rem;
  justify-content: center;
  justify-items: center;
  display: flex;
}

.description-1 {
  font-size: 1.2rem;
  color: #000000;
  line-height: 1.6;

}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
    width: 100%;
  }
  
  .image {
    width: 100%;
  }
}

.card1 {
  flex: 1 1 calc(33.3% - 20px); /* Para tener tres tarjetas por fila */
  max-width: calc(33.3% - 20px); /* Para mantener un tamaño máximo */
  padding: 15px;
  border: 1px solid #fbd914;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.card-container1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Espacio entre las tarjetas */
}
.content_texto {
  width: 100vw;
  height: 100%;
  margin-left: 10px;
}

.Segn-sus-caractersticas {
  width: 100%;
  
  font-size: 40px;
  color: #000000;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.Segn-su-origen {
  width: 100%;
  
  font-size: 40px;
  color: #000000;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.text-style-4 {
  color: #fbd914;
  
  margin-left: 10px;
  display: flex;
}
.icon-1 {
  font-size: 40px;
  color: #fbd914; 
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}


/*imagenes*/
.container-cuadros {
  width: 100%;
  max-width: 1920px;/* Ancho máximo del contenedor */
  /* Centra el contenedor */
  padding: 20px 20px 20px 20px;
  justify-content: center;
}

.colores{
  justify-content: center;
  position: relative;
  display: flex;
  
  font-size: 30px;
  margin-bottom: 30px;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr)); /* 3 columnas con tamaño igual */
  gap: 20px; /* Espacio entre las columnas */
}

.col-1{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}

.cardi {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.card-body-1 {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.btnn-overlay {
  background-color: #fbd914;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  font-weight: bold;
  font-size: larger;
  transform: translate(0%,-300%);
}

.btnn-overlay:hover {
  background-color: #e47a0f;
}

@media (max-width: 992px) {
  .row {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste para pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .row {
    grid-template-columns: repeat(1, 1fr); /* Una columna en dispositivos móviles */
  }
}


.container-final {
  max-width: 1950px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrado horizontal */
  padding: 20px;
}

.titulo1 {
  text-align: center; /* Centra el texto del título */
  margin-bottom: 20px;
   /* Espacio entre el título y los cuadros */
}

.cuadros-paralelos {
  display: flex;
  justify-content: space-between; /* Distribuye los cuadros a lo largo del contenedor */
}

.cuadro-arriba,
.cuadro-abajo {
  flex: 1 1 48%; /* Cada cuadro ocupa el 48% del espacio disponible */
  max-width: 48%;
  background-color: #f9f9f9;
  box-sizing: border-box; /* Ajusta el padding dentro del ancho */
  position: relative; /* Permite posicionar los botones */
}

/* Estilos para las imágenes */
.imagen-arriba,
.imagen-abajo {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: block;
  opacity: 70%;
}

/* Estilos para los botones */
.boton-link-1,
.boton-link-2 {
  position: absolute;
  bottom: 10px; /* Ajusta la posición vertical del botón */
  left: 50%; /* Centra horizontalmente el botón */
  transform: translate(-50%,-300%); /* Centra completamente el botón */
  padding: 10px;
  background-color: #fbd914;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: larger;
  font-weight: bold;
}

.boton-link-1:hover,
.boton-link-2:hover {
  background-color: #e47a0f;
}



/* styles.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.795);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  /* background-color: rgba(255, 255, 255, 0.986); */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  max-width: 40%;
  width: 90%; /* Ajustando el ancho del modal para dispositivos móviles */
  max-height: 90%; /* Limitando la altura máxima del modal */
  overflow: auto; /* Añadiendo scroll si el contenido excede el tamaño del modal */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-image {
  max-width: 100%;
  max-height: 70vh;
  height: auto;
  margin-bottom: 20px;
}

.overlay-text {
  position: absolute;
  top: 50%; /* Posiciona el texto verticalmente en el centro */
  left: 50%; /* Posiciona el texto horizontalmente en el centro */
  transform: translate(-50%, -50%); /* Centra el texto correctamente */
  background-color: rgba(255, 255, 255, 0.774); /* Fondo semi-transparente */
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal; /* Evita que el texto se rompa */
  max-width: calc(100% - 20px); /* Ajusta el ancho máximo del texto para evitar que sea más ancho que la imagen */
  overflow: hidden; /* Oculta cualquier exceso de texto */
  text-overflow: ellipsis;
  text-align: left; /* Agrega puntos suspensivos al final del texto si se recorta */
}

@media (min-width: 768px) {
  .overlay-text {
    font-size: 16px; /* Ajusta el tamaño del texto para dispositivos de tamaño mediano y grande */
  }
}
