/* Main */
.container_img{
  background-image: url("https://images.unsplash.com/photo-1510251197878-a2e6d2cb590c?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-repeat:no-repeat;
  display: flex;

}

.gestion-de{
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

/* .text-wrapper {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  
} */
.gestion-de .residuos-text{
  color: #fbd914;
  display: flex;
  font-size: 100%;
  margin-left: 10px;
  }
.container-xl{
  width: 100vw;
  height: 100%;
  margin-left: 30px;
  margin-top: 30px;
}

.Conoces-la-diferencia {
  font-family: "Montserrat";
  font-size: 40px;
  color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
  white-space: nowrap;
  margin-left: 10px;
}
.text-style-1  {
  color: #fbd914;
  display: flex;
  font-family: "Montserrat";
  margin-left: 10px;
}

.basura-1{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
  margin-top: 10px;
  font-family: "Monserrat";
  font-size: 25px;
}
.basura{
  text-align: left;
}
.text-style-3 {
  font-weight: bold;
}

.image-110 {
  width: 600px;
  height: 491px;  
  display: flex;
}

.residuos-1{
  display: flex;
  align-items: center;
  width: 100%;
}

.residuos-2{
  text-align: left;
  font-size: 25px;
  margin-left: 10px;
}
.image-111 {
  width: 600px;
  height: 491px;
  display: flex;  
}

.content_texto{
  width: 100vw;
  height: 100%;
} 

.Segn-sus-caractersticas {
  width: 100%;
  font-family: "Montserrat";
  font-size: 40px;
  color: #000000;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}


.Segn-su-origen {
  width: 100%;
  font-family: "Montserrat";
  font-size: 40px;
  color: #000000;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  
}

.text-style-4{
  color: #FBD914;
  font-family: "Montserrat";
  margin-left: 10px;

}
.residuos-textos{
  display: flex;
  width: 100%;
  font-family: "Montserrat";
  font-size: 25px;
  white-space: nowrap;

}
.text-style-5{
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 25px;
}
.textos{
  display: flex;
  width: 100%;
  font-family: "Montserrat";
  font-size: 25px;
  white-space: nowrap;
  margin-left: 10px; 
}

/*iconos*/

.iconos{
  display: flex;
  justify-content: start;
  font-size: 40px;
  color: #FBD914;
  }
  /* .iconos .fa-solid{
  font-size: 250px;
  opacity: .6;
  color: yellow;
  } */




/*imagenes*/





.row{
  width: 100vw;
  margin: 30px 30px 30px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
}
.col{
  width: 310px;
  height: 316px;
  justify-content: space-between;
}

.gris-claro{
  width: 310px;
  height:316px ;
  z-index: 1;
  position: absolute;
  }
.verde{
width: 310px;
height: 316px;
z-index: 1;
position: absolute;
}
.beige{
width: 310px;
height:316px ;
z-index: 1;
position: absolute;
}
.azul{
width: 310px;
height:316px ;
z-index: 1;
position: absolute;
}
.rojo{
width: 310px;
height:316px ;
z-index: 1;
position: absolute;
}
.burdeos{
  width: 310px;
  height:316px ;
  z-index: 1;
  position: absolute;
  }
.gris-oscuro{
  width: 310px;
  height:316px;
  z-index: 1;
  position: absolute;
  }
.amarillo{
  width: 310px;
  height:316px ;
  position: absolute;
  }
.cafe{
width: 310px;
height:316px ;
z-index: 1;
position: absolute;
  }

.texto{
  position:relative;
  z-index: 1;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  margin-top: 120px;
}
button{
  background-color: transparent; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  margin-left: 100px;
}
button:hover{
  background-color: #6e6d66;
}
            


/* Cuadros*/

.cuadro-grande{
  width: 700px;
  height: 400px;
  float: left;
  background-color: #666262;
  margin-bottom: 30px;
  transform: translate(0%,0);
}
p{
  text-align: left;
  vertical-align: middle;
  color: #ffffff;
  font-size: 30px;
  padding-top: 150px;
  padding-left: 30px;

}
.cuadro-arriba{
  width: 300px;
  
  float: left;
  z-index: 1;
} 
.imagen-arriba{
  width: 500px;
  height: 200px;
  position: absolute;

}
.boton-link-1{
  position: relative;
  z-index: 2;
  display: inline-block;
  text-align: center;
  background-color: #FBD914;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 10px;
  transform: translate(50%, 150%);
  
}

/* .cuadro-abajo{
  width: 400px;
  z-index: 1;
  position: relative;
  flex-direction: row-reverse;
} */

.imagen-abajo{
  width: 500px;
  height: 200px;
  position: absolute;
  transform: translate(0,0%);
  /* flex-direction: row-reverse; */
}

.boton-link-2{
  position: relative;
  z-index: 2;
  display: inline-block;
  text-align: center;
  background-color: #FBD914;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 10px;
  transform: translate(50%, 50%);
}


