
/* Main */

section{
    width: 100%;
    margin: 0px 0px 30px 5px;
}
.gestion-de{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
 

}
.gestion-de .image{
  width: 100%;
  height: 450px;

}
.gestion-de .text-wrapper {
  position: absolute;
  width: 624px;
  top: 150px;
  left: 300px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 70px;
  padding-top: 100px ;
  
  
  
}

.gestion-de .residuos{
  position: absolute;
  width: 624px;
  top: 0px;
  left: 380px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #fbd914;
  font-size: 70px;
  letter-spacing: 0;
padding-top: 100px;
}


li::marker{
    color: #FBD914;
    font-size: 30px;
}

ul{
    line-height: 40px;
}


.Conoces-la-diferencia-entre-basura-y-residuos- {
  width: 763px;
  height: 37px;
  font-family: Montserrat;
  font-size: 30px;
  line-height: 4;
  text-align: center;
  color: #000;
  padding: 0 300px;
}
.text-style-1  {
  color: #fbd914;
}
.text-style-2 {
  color: #fbd914;
}


.text-style-3 {
  font-weight: bold;
}

.image-110 {
  width: 517px;
  height: 291px;
  margin-right: 20px;

}

.basura-1{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}
.basura{
  text-align: left;
  margin-right: 20px;
}

.residuos-1{
  display: flex;
  align-items: center;
  width: 100%;
}

.residuos-2{
  text-align: left;
}
.image-111 {
  width: 517px;
  height: 291px;
  margin-right: 20px;
  
}


.Segn-sus-caractersticas {
  width: 403px;
  height: 37px;
  flex-grow: 0;
  margin: 100px 499px 26px 0px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: left;
  color: #fbd914;
}
.Segn-sus-caractersticas .text-style-1 {
  font-weight: normal;
  color: #000;
}

.Segn-su-origen {
  width: 429px;
  height: 37px;
  flex-grow: 0;
  margin: 0 408px 56px 0;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 4;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Segn-su-origen .text-style-1 {
  font-weight: 900;
  color: #fbd914;
}

/*imagenes*/


.gris-claro{
  width: 310px;
  height:316px ;
  }
.verde{
width: 310px;
height: 316px;
 }
.beige{
width: 310px;
height:316px ;
}
.azul{
width: 310px;
 height:316px ;
}
.rojo{
width: 310px;
height:316px ;
}
.burdeos{
  width: 310px;
 height:316px ;
  }
.gris-oscuro{
width: 310px;
 height:316px ;
 }
.amarillo{
 width: 310px;
 height:316px ;
  }
.cafe{
width: 310px;
height:316px ;
 }
            
/*iconos*/
.icono_main
.fa-regular{
  font-size: 30px;
  color:#000;
}
.fa-light{
  font-size: 30px;
  color: #000;
}

.fa-car-battery{
  font-size: 30px;
  color: black;
}
.fa-oil-can{
  font-size: 30px;
  color: black;
}
.fa-box-open{
  font-size: 30px;
  color: black;
}
.fa-trowel-bricks{
  font-size: 30px;
  color: black;
}
.fa-truck-moving{
  font-size: 30px;
  color: black;
}
.fa-trash-can{
  font-size: 30px;
  color: black;
}
.fa-industry{
  font-size: 30px;
  color: black;
}
.fa-person-digging{
  font-size: 30px;
  color: black;
}





/* Cards*/
