.header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;   
    background-color: red;
}

.fondo{
    background-size: 100%;
    background-repeat:no-repeat;
    background-color: red;
}

.titulo{
    font-size: 55px;
    font-weight: 400;
    color: white;
}

.titulo2{
    color: #FBD914;
    font-weight: 700;
    font-size: 55px;
}