.header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    justify-content: center;
    font-family: "Montserrat", sans-serif;   
    
}

/* .fondo{
    background-size: 100%;
    background-repeat:no-repeat;
} */

.titulo{
    font-size: 55px;
    font-weight: 400;
    color: #fff;
    margin-bottom: -20px;
}

.titulo2{
    color: #FBD914;
    font-weight: 700;
    font-size: 55px;
}

.info{
    width: 80%;
    font-size: 18px;
    text-align: justify;
    font-weight: 400;
    margin-top: 15px;
    color: #fff;
}