.header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}
.titulo{
    font-size: 55px;
    font-weight: 400;
    color: #fff;
    margin-bottom: -20px;
    padding: 0px 40px;
}

.titulo2{
    color: #FBD914;
    font-weight: 700;
    font-size: 55px;
    padding: 0px 40px;
}

.info{
    width: 80%;
    font-size: 18px;
    text-align: justify;
    font-weight: 400;
    margin-top: 15px;
    color: #fff;
    padding: 0px 40px;
}

/*Responsive*/
@media (max-width: 1180px){
    .header{
    width: 100vw; 
    height: 83vh;
    }
}
@media (max-width: 989px){
    .header{
    height: 75vh;
    background-size: cover;
    }
    .info{
        width: 80%;
    }
}
@media (max-width: 940px){
    .header{
        width: 100vw;
        height: 66vh;
    }
}
@media (max-width: 850px){
    .header{
        width: 90vw;
        height: 60vh;  
    }
    .titulo{
        font-size: 41px;
    }
    .titulo2{
        font-size: 36px ;
    }
    .info{
        width: 100%;
        font-size: 17px;
    }
}
@media (max-width: 738px){
    .header{
        width: 100vw;
        height: 50vh;  
    }
    .titulo{
        font-size: 42px;
    }
    .titulo2{
        font-size: 40px ;
    }
    .info{
        width: 100%;
        font-size: 16px;
    }
}
@media (max-width: 630px){
    .header{
        width: 100vw;
        height: 33vh;  
    }
    .info{
       display: none; 
    }
}