.header_nav {
  background: #8c8a8a;
  width: 100vw;
  padding: 30px;
  height: 140px;
}
.caja {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-buscador-container {
  padding-top: 15px;
}
.navbar-upper-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 24px;
}
.navbar-logo-container {
  margin: 15px;
  display: flex;
  flex: 1 1 0;
}
.menu-navegacion {
  background-color: #00011060;
  width: 100vw;
  height: 55px;
  position: relative;
  z-index: 2;
  margin-left: -33px;
  bottom: 4px;
  padding-top: 8px;
}
.menu-navegacion ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.menu-navegacion a {
  text-decoration: none;
  color: #fff;
}
.menu-navegacion a:hover {
  color: #ffcb13;
}
.navbar-logo-container img {
  object-fit: cover;
}

.navbar-btn-contacto {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 18px;
  height: 33px;
  padding: 0 13px;
}

.casablanca {
  width: 59px;
  height: 40px;
}

.logonombre {
  width: 274px;
  height: 52px;
  margin-top: 8px;
}

nav_toggle {
  display: none;
}
.login-icon {
  font-size: 20px; /* Tamaño deseado para el icono */
}

/* responsive */

@media (max-width: 950px) {
  .nav_items {
    position: absolute;
    top: -1px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 0.3s ease all;
    padding: 0;
  }
  .nav_items li {
    width: 100%;
    padding: 20px 0px;
    background-color: rgb(178, 178, 178);
    text-align: center;
  }
  .nav_items a {
    color: #ffffff;
    font-weight: 500;
  }
  .nav_items a:hover {
    font-weight: 700;
    color: #ffcb13;
  }

  .nav_items.open {
    transform: translateX(0) !important;
  }

.nav_toggle{
  display: flex!important;
  flex-direction: column;                
  margin: 10px 25px;
}
.nav_toggle span{
  width: 35px;
  height: 6px;
  background: #fff;
  margin-bottom: 6px;         
  transform-origin: 5px 1px;
  transition: all 0.3s linear;
}
.nav_toggle.open > span{
  transform: rotate(45deg) translate(0px, 0px);
}
.nav_toggle.open > span:nth-child(2){
  display: none;
}
.nav_toggle.open > span:nth-child(3){
  transform: rotate(-45deg) translate(-5px, 1px);
}
.navbar-btn-contacto{
  display: none;
}
}
