.navigation-back {
  width: 35px;
  cursor: pointer;
  margin-left: 0px;
  margin-top: -20px;
} 

   .calculadora {
    position: relative;
    background: url("https://static.vecteezy.com/system/resources/previews/001/269/396/non_2x/close-up-of-person-using-calculator-free-photo.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 20px;
    max-height: 1075px;
    margin-top: 55px;
  }
   
  .calculadora::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .calculadora > * {
    position: relative;
    z-index: 2;
  }
  
  .header {
    padding: 20px;
    margin-bottom: 50px;
  }
  