.category-title {
  font-size: 2em;
  color: #333;
  text-align: left; 
  margin-left: 40px; 
  padding-top: 0px; 
  display: flex; 
  align-items: center; 
  margin-top: -30px;
}

.back-arrow {
  width: 30px; 
  cursor: pointer; 
  margin-left: 0px; 
  margin-top: 60px; 
}

.products-container {
  margin-top: -40px;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  width: 100%;
}

.product-wrapper{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 25%;
  
}

.product-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border: 1px solid #ffcb14;
}


.corazon-icon {
  font-size: 1.5rem; 
  color: #ffcc145b; 
  transition: color 0.3s ease;

}

.corazon-icon:hover {
  color:#ffcb14 ; 
}
