*{
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  font-family: "Montserrat", sans-serif;   
}
body{
  width: 100%;   
}

/*Header imagen más información*/
main{
  background-image: url("https://lh3.google.com/u/0/d/17Kz3oO7n1SUfjVG4XcKnM6XeoGZbdoJL=w1439-h460-iv1");
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;

}
.info_main{
width: 80%;
}
.icono_main{
width: 20%;
display: flex;
justify-content: start;
}
.icono_main .fa-regular{
font-size: 250px;
opacity: .6;
color: yellow;
}

.title{
  font-size: 55px;
  font-weight: 400;
  color: white;
}
.yellow {
  color: #FBD914;
  font-weight: 700;
}

.intro{
  width: 80%;
  font-size: 20px;
  text-align: justify;
  color: #fff;
  font-weight: 400;
  
}

/* Main */

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.content_reverse img{
  height: 600px;
}

.content_imagen img{
  width: 650px;
  height: 700px;
  object-fit: cover;
  object-position: right;
}

.content_info{
  margin-top: 30px;
}
.content_title{
  font-size: 35px;
  margin-bottom: 30px;
}

.content_subtitle{
  margin: 20px 0;
}
li::marker{
  color: #FBD914;
  font-size: 30px;
  
}

ul{
  line-height: 40px;
}

.content_reverse{
  flex-direction: row-reverse;
}

/* Cards*/

.cards {
  background-color: #c4c4c4;
  height: 650px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
} 

.card{
  padding: 20px 20px 20px 20px
}

.cards .card{
  width: 340px;
  height: 400px;
  box-shadow: 2px 4px 10px 0 #000;
  border-radius: 10%;
}

.card-body{
 text-align: center;
}

.card p{
  text-align: justify;
  font-size: 15px;
}
.card h3{
font-size: 20px;
text-align: center;
font-weight: 700;
padding: 15px 0;
}

img.card-img-top{
  width: 90px;
  margin: auto;
  padding-top: 10px;
}



/*Footer*/

/* footer{
background-color: #464646;
width: 100vw;
height: 500px;
display: flex;
justify-content:space-evenly;
align-items: center;
}
.logo img{
width: 250px;
}
.subtitulo_formulario h1{
font-size: 25px;
color: white;
margin-bottom: 20px;
}
.subtitulo_formulario p{
font-size: 18px;
color: white;
font-weight: 300;
}

#exampleFormControlInput1{
background-color: #cbcbcb;
border: none;
}
#exampleFormControlTextarea1{
background-color: #cbcbcb;
border: none;
}

button.btn {
width: 558px;
background-color: #FBD914;
margin-top: 10px;
}
button.btn:hover{
background-color: #e47a0f;
}
.contacto h2{
color: #fff;
text-decoration: underline;
padding-bottom: 20px;
font-size: 25px;
}

.redes_contacto{
width: 80%;
display: flex;
justify-content: space-between;
padding-bottom: 15px;
}
.fa-brands{
color: #fff;
font-size: 30px;
}
.fa-regular{
font-size: 30px;
color: #fff;
}

.info_contacto p{
font-size: 16px;
color: #fff;
margin: 14px 0;
}
.derechos p{
font-size: 12px;
color: #fff;
}
.flecha{
margin-top: 290px;
}
.fa-solid{
color: #fff;
font-size: 30px;
}

#warnings{
text-align: center;
margin-top: 10px;
}

#exampleFormControlTextarea1:focus {
box-shadow: 0 0 5px #FBD914;
}
#exampleFormControlInput1:focus {
box-shadow: 0 0 5px #FBD914;
} */

